<ul>
  <li class="user-wrap">
    <span href="javascript:void(0)" class="dropdown-toggle userdropdown guest" id="userDropdown">
      <div class="user-section">

        <div class="user-info">
          <span>
            <input class="form-control" type="text" name="email" [(ngModel)]="form.email" (keyup.enter)="login()" placeholder="Email Address" />
          </span>
          <span>
            <input class="form-control" type="password" name="password" [(ngModel)]="form.password" (keyup.enter)="login()" placeholder="Password" />
          </span>
          <span><button class="btn btn-default btn-primary" (click)="login()">Login</button></span>
        </div>
      </div>
    </span>
  </li>
</ul>
