<section class="main-article">
  <div class="log-wrap">
    <div class="row" *ngIf="state.processing">
      <div class="col-sm-12 text-center">
        <span class="fa fa-spin fa-refresh fa-5x"></span>
        <h3>Please Wait!</h3>
        <p>We are Processing</p>
      </div>
    </div>
    <div class="row" *ngIf="!state.processing">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Patient</h3>
          </div>
          <div class="panel-body">
            <div class="row">
          <div class="col-sm-4">
            <label class="">Name:</label>
            <label><strong>{{patientService.patientForm.name}}</strong></label>
          </div>
          <div class="col-sm-4">
            <label class="">Age:</label>
            <label><strong>{{patientService.patientForm.age}}</strong></label>
          </div>
          <div class="col-sm-4">
            <label class="">Address:</label>
            <label><strong>{{patientService.patientForm.address || 'N/A'}}</strong></label>
          </div>
          <div class="col-sm-4">
            <label class="">Phone:</label>
            <label><strong>{{patientService.patientForm.phone || 'N/A'}}</strong></label>
          </div>
          <div class="col-sm-4">
            <label class="">Landline:</label>
            <label><strong>{{patientService.patientForm.landline || 'N/A'}}</strong></label>
          </div>
        </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>
              Medication
              <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#medication_form">Add Medication</button>
            </h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <tr>
                  <th>Date Started</th>
                  <th>Remarks</th>
                  <th>Status</th>
                  <th>action</th>
                </tr>
                <tr *ngFor="let medication of patientService.patientForm['medications'], let index = index;">
                  <td>{{dateParser.parseDate(medication.created_at)}}</td>
                  <td>{{medication.remarks}}</td>
                  <td>{{medication.status}}</td>
                  <td>
                    <a href="javascript:void(0)" (click)="setMedicationToEdit(medication, index)" data-toggle="modal" data-target="#medication_form" ngbTooltip="Edit"><span class="fa fa-2x fa-pencil"></span></a>
                    &nbsp;
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#medication_detail_modal"  (click)="setMedicationToView(medication)" ngbTooltip="View Details"><span class="fa fa-eye fa-2x"></span></a>

                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="medication_detail_modal" tabindex="-1" aria-labelledby="verificaitonModal" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 700px;">
      <div class="modal-header justify-content-center">
        <h3>Medication Detail</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <tr>
              <th>Drug</th>
              <th>Dosage</th>
              <th>Morning</th>
              <th>Noon</th>
              <th>Evening</th>
              <th>Night</th>
              <th>Remarks</th>
            </tr>
            <tr *ngFor="let dosage of state.selectedMedication['medication_details']">
              <td>{{dosage.drug.title}}</td>
              <td>{{dosage.drug_dosage}}</td>
              <td><span class="fa" [ngClass]="{'fa-check': dosage.in_morning}"></span></td>
              <td><span class="fa" [ngClass]="{'fa-check': dosage.in_noon}"></span></td>
              <td><span class="fa" [ngClass]="{'fa-check': dosage.in_evening}"></span></td>
              <td><span class="fa" [ngClass]="{'fa-check': dosage.in_night}"></span></td>
              <td>{{dosage.remarks}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="medication_form" tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg-theme" role="document">
    <div class="modal-content" style="width: 700px;">
      <div class="modal-header justify-content-center">
        <h3>Medication</h3>
        <button type="button" id="medication_form_close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <tr>
              <th>Drug</th>
              <th>Dosage</th>
              <th>Morning</th>
              <th>Noon</th>
              <th>Evening</th>
              <th>Night</th>
              <th>Remarks</th>
              <th>
                <span class="fa fa-plus-square" (click)="state.addingMedicines=true" ngbTooltip="Add Medicine"></span>
              </th>
            </tr>
            <tr *ngFor="let dosage of medicationForm.medicines; let index = index">
              <td>{{dosage.drug.title}}</td>
              <td>{{dosage.drug_dosage}}</td>
              <td><span class="fa" [ngClass]="{'fa-check': dosage.in_morning}"></span></td>
              <td><span class="fa" [ngClass]="{'fa-check': dosage.in_noon}"></span></td>
              <td><span class="fa" [ngClass]="{'fa-check': dosage.in_evening}"></span></td>
              <td><span class="fa" [ngClass]="{'fa-check': dosage.in_night}"></span></td>
              <td>{{dosage.remarks}}</td>
              <td>
                <span class="fa fa-pencil" ngbTooltip="Edit this medicine" (click)="setMedicineRow(dosage, index)"></span>
                <span class="fa fa-trash" ngbTooltip="remove this medicine" (click)="removeDrug(dosage, index)"></span>
              </td>
            </tr>
          </table>
          <ng-container *ngIf="state.addingMedicines" style="padding:0px 20px 12px;">
            <div class="formgp" style="padding:0px 20px 12px;">
              <h4 class="text-center">Add Drug and Dosage Detail</h4>
            </div>
            <div class="formgp" style="padding:0px 20px 12px;">
              <label class="label-control">Drug</label>
              <input class="form-control" type="text" [(ngModel)]="state.medicineRow.drug.title" placeholder="Drug Title" (keyup)="searchDrug($event)"/>
              <ul class="drug-list" *ngIf="state.drugs">
                <li *ngFor="let drug of state.drugs; let index = index">
                  <a href="javascript:void(0)" (click)="selectDrug(drug, index)">{{drug.title}}</a>
                </li>
              </ul>
            </div>
            <div class="formgp" style="padding:0px 20px 12px;">
              <label class="label-control">Drug Dosage</label>
              <select class="form-control" [(ngModel)]="state.medicineRow.drug_dosage">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="2">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="formgp" style="padding:0px 20px 12px;">
              <label class="label-control col-sm-3"><input type="checkbox" [(ngModel)]="state.medicineRow.in_morning" /> &nbsp; Morning?</label>
              <label class="label-control col-sm-3"> <input type="checkbox" [(ngModel)]="state.medicineRow.in_noon" /> &nbsp; Noon?</label>
              <label class="label-control col-sm-3"> <input type="checkbox" [(ngModel)]="state.medicineRow.in_evening" /> &nbsp; Evening?</label>
              <label class="label-control col-sm-3"> <input type="checkbox" [(ngModel)]="state.medicineRow.in_night" /> &nbsp; Night?</label>
            </div>
            <div class="formgp" style="padding:0px 20px 12px;">
              <label class="label-control">Remarks</label>
              <input type="text" class="form-control" [(ngModel)]="state.medicineRow.remarks" placeholder="remarks"/>
            </div>
            <div class="formgp text-center" style="padding:0px 20px 12px;">

              <button class="btn btn-primary" (click)="addMedicineRow(true)"> Save & Add more</button>
              &nbsp;&nbsp;&nbsp;
              <button class="btn btn-primary" (click)="addMedicineRow(false)"> Save & close</button>
              &nbsp;&nbsp;&nbsp;
              <button class="btn btn-primary" (click)="state.addingMedicines=false; resetMedicineRow();"> close</button>
            </div>
          </ng-container>
          <div class="formgp">
            <label class="label-control">Remarks</label>
            <textarea class="form-control" [(ngModel)]="medicationForm.remarks"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-block" (click)="saveMedication()"> Save <span class="fa fa-spin fa-refresh" *ngIf="state.savingMedication"></span></button>
      </div>
    </div>
  </div>
</div><!-- loginModal -->
