<section class="main-article">
  <div class="log-wrap">
    <div class="row" *ngIf="state.processing">
      <div class="col-sm-12 text-center">
        <span class="fa fa-spin fa-refresh fa-5x"></span>
        <h3>Please Wait!</h3>
        <p>We are Processing</p>
      </div>
    </div>
    <div class="row" *ngIf="!state.processing">
      <div class="col-sm-12">
        <h3>Patients</h3>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <tr>
              <td>Date</td>
              <td>Drugs</td>
              <td>Remarks</td>
              <td>Action</td>
            </tr>
            <tr>
              <td>Patient 1</td>
              <td> Address Line 1</td>
              <td> 0333-987654321</td>
              <td>
                <a href="javascript:void(0)" ngbTooltip="view Detail"><span class="fa fa-eye"></span></a> &nbsp;
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
