<ul>
  <li class="user-wrap">
    <a href="javascript:void(0)" class="dropdown-toggle userdropdown" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="user-section">
        <div class="user-img"><img src="assets/images/icons/user-only.svg" alt=""></div>
        <div class="user-info">
          <strong>{{currentUser.name}}</strong>
          <span>{{currentUser.email}}</span>
        </div>
      </div>
    </a>
    <div class="dropdown-menu dropdown-shadow arrowright menu-notification" aria-labelledby="userDropdown">
      <div class="links-dropdown">
        <ul>
          <li>
            <a href="javascript:void(0)" routerLink="/account-settings" >
              <strong>Account Settings</strong>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="logout()" class="text-danger">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
