<section class="main-article">
  <div class="log-wrap">
    <div class="row" *ngIf="state.processing">
      <div class="col-sm-12 text-center">
        <span class="fa fa-spin fa-refresh fa-5x"></span>
        <h3>Please Wait!</h3>
        <p>We are Processing</p>
      </div>
    </div>
    <div class="row" *ngIf="!state.processing">
      <div class="col-sm-12">
        <h3>
          Drug Companies
          <button class="btn btn-primary pull-right" (click)="resetCompanyForm()" data-toggle="modal" data-target="#company_form_modal">Add New</button>
        </h3>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <tr>
              <th>ID</th>
              <th>title</th>
              <th>logo</th>
              <th>phone number</th>
              <th>Address</th>
              <th>website</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let company of companies; let index=index">
              <td>{{company.id}}</td>
              <td>{{company.title}}</td>
              <td>
                <img src="{{company.logo}}" *ngIf="company.logo" width="75" />
              </td>
              <td>{{company.phone_number}}</td>
              <td>{{company.address}}</td>
              <td>{{company.website_url}}</td>
              <td>
                <ng-container *ngIf="!company.processing">
                  <a href="javascript:void(0)" ngbTooltip="Edit" data-target="#company_form_modal" data-toggle="modal" (click)="setEditForm(company)"><span class="fa fa-3x fa-pencil"></span></a>
                  &nbsp;
                  <a href="javascript:void(0)" ngbTooltip="Delete" (click)="deleteCompany(company, index)"><span class="fa fa-3x fa-trash"></span></a>
                </ng-container>
                <span class="fa fa-refresh fa-spin" *ngIf="company.processing"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="company_form_modal" tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg-theme" role="document">
    <div class="modal-content" style="width: 700px;">
      <div class="modal-header justify-content-center">
        <h3>Company Form</h3>
        <button type="button" id="company_form_close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="formgp" style="padding:0px 20px 12px;">
            <label class="label-control">Drug</label>
            <input class="form-control" type="text" [(ngModel)]="drugCompService.companyForm.title" placeholder="Company Title"/>
            <label class="error" *ngIf="state.errors.title">{{state.errors.title}}</label>
          </div>
          <div class="formgp" style="padding:0px 20px 12px;">
            <label class="label-control">Description</label>
            <textarea class="form-control" [(ngModel)]="drugCompService.companyForm.description"></textarea>
            <label class="error" *ngIf="state.errors.description">{{state.errors.description}}</label>
          </div>
          <div class="formgp" style="padding:0px 20px 12px;">
            <label class="label-control">Phone number</label>
            <input type="text" class="form-control" [(ngModel)]="drugCompService.companyForm.phone_number" placeholder="Phonenumber"/>
            <label class="error" *ngIf="state.errors.phone_number">{{state.errors.phone_number}}</label>
          </div>
          <div class="formgp" style="padding:0px 20px 12px;">
            <label class="label-control">Address</label>
            <input type="text" class="form-control" [(ngModel)]="drugCompService.companyForm.address" placeholder="Address"/>
            <label class="error" *ngIf="state.errors.address">{{state.errors.address}}</label>
          </div>
          <div class="formgp" style="padding:0px 20px 12px;">
            <label class="label-control">Website Url</label>
            <input type="text" class="form-control" [(ngModel)]="drugCompService.companyForm.website_url" placeholder="http://medicine-company.com"/>
            <label class="error" *ngIf="state.errors.website_url">{{state.errors.website_url}}</label>
          </div>
          <div class="formgp" style="padding:0px 20px 12px;">
            <button class="btn btn-primary btn-default btn-lg btn-block" (click)="fileInput.click()"><i class="fa fa-upload"></i>Upload Logo</button>
            <input type="file" (change)="onFileChanged($event)" #fileInput style="z-index: -1; position: absolute" />
            <label class="error" *ngIf="state.errors.logo">{{state.errors.logo}}</label>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-block" (click)="saveCompany()"> Save <span class="fa fa-spin fa-refresh" *ngIf="state.savingCompany"></span></button>
      </div>
    </div>
  </div>
</div><!-- loginModal -->
