<!--header start -->
<div id="header-wrap">
  <div class="">
    <header id="header">

      <div class="menu-contain" *ngIf="authService.currentUserValue">
        <a href="javascript:void(0)" class="menu-link jsMenuLink"></a>
      </div>
      <div class="logo-wrap">
        <div class="logo">
          <a href="/">
            <h3>Covid-19 Detection Service</h3>
          </a>
        </div>
        <div class="tagline"></div>
      </div>
      <div class="header-right" style="position: relative;">
        <div class="nav-primary">
          <app-logged-in *ngIf="authService.currentUserValue" [currentUser]="authService.currentUserValue"></app-logged-in>
          <app-logged-out *ngIf="!authService.currentUserValue" [currentUser]="authService.currentUserValue"></app-logged-out>

        </div>
      </div>
      <div class="navwrap" *ngIf="authService.currentUserValue">
        <a href="javascript:void(0)" id="left-navigation" class="navicon jsNavIcon"></a>
        <ul *ngIf="authService.currentUserValue.type == 0">
          <li><a href="javascript:void(0)" routerLink="/home"><span class="nav-pricon fa fa-home fa-3x"></span> <strong>Home</strong></a></li>
          <li *ngIf="authService.currentUserValue['is_doctor'] == 'yes'"><a href="javascript:void(0)" routerLink="/patient"><span class="nav-pricon fa fa-user fa-3x"></span> <strong>Patients</strong></a></li>
          <li><a href="javascript:void(0)" routerLink="/history"><span class="nav-pricon fa fa-clock-o fa-3x"></span> <strong>Test History</strong></a></li>
        </ul>
        <ul *ngIf="authService.currentUserValue.type == 1">
          <li><a href="javascript:void(0)" routerLink="/admin"><span class="nav-pricon fa fa-home fa-3x"></span> <strong>Home</strong></a></li>
          <li><a href="javascript:void(0)" routerLink="/admin/drug-companies"><span class="nav-pricon fa fa-building fa-3x"></span> <strong>Drug Companies</strong></a></li>
          <li><a href="javascript:void(0)" routerLink="/admin/drugs"><span class="nav-pricon fa fa-medkit fa-3x"></span> <strong>Drugs</strong></a></li>
          <li><a href="javascript:void(0)" routerLink="/admin/users-list"><span class="nav-pricon fa fa-user fa-3x"></span> <strong>Users</strong></a></li>
          <li><a href="javascript:void(0)" routerLink="/admin/patients-list"><span class="nav-pricon fa fa-user fa-3x"></span> <strong>Patients</strong></a></li>
          <li><a href="javascript:void(0)" routerLink="/admin/test-history"><span class="nav-pricon fa fa-clock-o fa-3x"></span> <strong>Test History</strong></a></li>
        </ul>
      </div>

    </header>
  </div>
</div>
<!--header end -->
