body, input{
  font-family: 'robotoregular';
  font-size: 16px;
  color: #808285;
  line-height: 1.4;
}
body{
  background: #f8fbff;
}
h1,h2,h3,h4,h5,h6{
  color: #2A65B1;
  line-height: 1.3;
  margin: 0 0 15px;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  color: #2A65B1;
  outline: none;
}
a:hover{
  text-decoration: none;
}
p{
  margin: 0 0 25px;
}

#container-fluid{
  /*max-width: 1800px;
  margin: 0 auto;*/
  padding: 0 13px;
}
.btn-sm{
  height: 30px;
  padding: 0 20px;
  font-size: 12px; 
  letter-spacing: 0.18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.btn-primary{background: #2A65B1; border-color: #2A65B1;}
.btn-primary.disabled, .btn-primary:disabled{background: #d4e0f0; border-color: #d4e0f0; opacity: 1;}
.btn-default{background: #f6faff; border-color: #d3deea; color: #354f79;}
/* header start */
#header-wrap{
}
  #header{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .logo-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0 8px;
  }
  .logo a{
    display: block;
    background: url(../images/logo.png) no-repeat;
    background-size: 100% auto;
    width: 60px;
    height: 25px;
  }
  .tagline{
    border-left: 1px solid #D3DEEA;
    padding: 5px 0 5px 28px;
    margin: 6px 0 0 25px;
    font-size: 16px;
    color: #354F79;
    letter-spacing: 0.3px;
    line-height: 1;
  }
  .header-right{
    margin-left: auto;
    padding: 9px 0 4px;
  }
    .nav-primary ul,
    .nav-primary li{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .nav-primary > ul{
      display: flex;
      flex-wrap: wrap;
    }
    .nav-primary > ul > li{
      padding: 5px 0 5px 0;
      margin-right: 30px;
      position: relative;
    }
    .nav-primary > ul > li:last-child{
      margin-right: 0;
      align-self: center;
    }
    .user-section{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-align: right;
    }
    .user-img{
      width: 33px;
    }
    .user-img img{
      display: block;
      width: 100%;
      border-radius: 50%;
    }
    .user-info{
      width: calc(100% - 33px);
      padding-right: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .user-info > strong{
      display: block;
      font-size: 14px;
      color: #354F79;
      font-weight: normal;
      border-right: 1px solid #D3DEEA;
      padding-right: 20px;
      margin-right: 15px;
    }
    .user-info > span{
      display: block;
      font-size: 13px;
      color: #969696;
      font-weight: normal;
    }
    .user-info{
      order: -1;
    }
    .alert-icon{
      background: url(../images/icons/alert.png) no-repeat;
      background-size: 100% auto;
      width: 34px;
      height: 34px;
      display: inline-block;
      position: relative;
    }
    .alert-icon:after{
      display: none;
    }
    .number{
      background: #FF6B69;
      color: #fff;
      font-size: 11px;
      font-weight: bold;
      display: block;
      padding: 2px 5px;
      position: absolute;
      right: -10px;
      top: -10px;
      border-radius: 8px;
    }
    .header-right .dropdown{
      color: #354F79;
      font-size: 13px;
      position: static;
    }
    .header-right  .dropdown-menu{
      left: auto!important;
      right: 0 !important;
      top: 100% !important;
      transform: none !important;
      padding: 0;
      border: none;
      box-shadow:0 3px 11px rgba(57,69,88,0.22);
    }
    .dropdown-menu a{
      color: #354F79;
      font-size: 14px;
      padding: 10px 15px;
      line-height: 1.3;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .dropdown-menu a:hover{
      background: #FFF6E3;
      font-weight: 600;
    }
    .dropdown-shadow{
      top: 5px !important;
      border: none;
      padding: 0;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-box-shadow: 0 2px 17px 0 rgba(0,0,0,0.5);
      -webkit-box-shadow: 0 2px 17px 0 rgba(0,0,0,0.5);
      box-shadow: 0 2px 17px 0 rgba(0,0,0,0.5);
    }
      .dropdown-shadow a:first-child{
        border-radius: 4px 4px 0 0;
      }
      .dropdown-shadow a:last-child{
        border-radius: 0 0 4px 4px;
      }
    .dropdown-shadow:before{
      content: "\f0d8";
      font: normal normal normal 18px/1 FontAwesome;
      position: absolute;
      left: 11px;
      top: -12px;
      color: #fff;
    }
    .arrowright:before{
      left: auto;
      right: 11px;
    }
.dropdown-right{
  left: auto!important;
  right: 0 !important;
}
  .dropdown-right:before{
    left: auto;
    right: 12px;
  }
.menu-notification{
  width: 285px;
}
  .links-dropdown h3{
    color: #354F79;
    letter-spacing: 0.1px;
    font-family: 'robotobold';
    font-size: 14px;
    margin: 0;
    padding: 20px;
  }
  .links-dropdown ul,
  .links-dropdown li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .links-dropdown li a{
    color: #7F8690;
    letter-spacing: 0.1px;
    font-size: 14px;
    font-weight: normal;
    display: block;
    padding: 15px 10px 15px 20px;
    line-height: 1.5;
    border-bottom: 1px solid #F0F0F0;
  }
  .links-dropdown li a strong{
    display: block;
    color: #354F79;
    font-weight: normal;
  }
  .dropdown-menu .viewall a{
    color: #354F79;
    font-size: 12px;
    letter-spacing: 1.9px;
    text-decoration: underline;
    text-align: center;
    padding: 17px;
    text-transform: uppercase;
    display: block;
  }
  .userdropdown:after{
    display: none;
  }
  .user-wrap .links-dropdown li a{
    padding: 10px 10px 10px 20px;
    color: #354F79;
  }
  body .text-danger{
    color: #ff6b69 !important;
  }

.menu-contain{
  padding: 15px 30px 0 14px;
}
  .menu-link{
    background: url(../images/menu.png) no-repeat;
    background-size: 100% auto;
    width: 44px;
    height: 30px;
    display: block;
  }
.navwrap{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100px;
  background: #e1effd;
  z-index: 11;
  padding: 88px 0 0;


  left: -100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navwrap.active{
  left: 0;
  box-shadow: 0 2px 50px 0 rgba(0,0,0,0.47);
}
  .navicon{
    background: url(../images/menu-active.png) no-repeat;
    background-size: 100% auto;
    width: 44px;
    height: 30px;
    display: block;
    position: absolute;
    left: 27px;
    top: 15px;
  }
  .navwrap > ul,
  .navwrap > ul > li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navwrap > ul{
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .navwrap > ul > li{
    padding: 5px 0;
  }
  .navwrap > ul > li > a{
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #354F79;
    letter-spacing: 0.2px;
    font-family: 'robotobold';
    font-size: 11px;
    padding: 15px 10px;
  }
  .navwrap > ul > li > a strong{
    display: block;
    padding: 7px 0 0;
  }
  .navwrap > ul > li.active > a{
    background: #fff;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.17);
    position: relative;
    z-index: 1;
  }
  .navwrap > ul > li.active > a:after{
    content: " ";
    background: #fff;
    position: absolute;
    right: -12px;
    top: 0;
    height: 100%;
    width: 12px;
  }
    .nav-pricon{
      display: block;
      margin: 0 auto;
    }
    .icon-home{
      background: url(../images/header/home.svg) no-repeat;
      background-size: 100% auto;
      width: 22px;
      height: 25px;
    }
      li.active .icon-home{
        background: url(../images/header/home-active.svg) no-repeat;
        background-size: 100% auto;
      }
    .icon-manage{
      background: url(../images/header/manage.svg) no-repeat;
      background-size: 100% auto;
      width: 26px;
      height: 23px;
    }
      li.active .icon-manage{
        background: url(../images/header/manage-active.png) no-repeat;
        background-size: 100% auto;
      }
    .icon-global{
      background: url(../images/header/global.svg) no-repeat;
      background-size: 100% auto;
      width: 22px;
      height: 25px;
    }
      li.active .icon-global{
        background: url(../images/header/global-active.png) no-repeat;
        background-size: 100% auto;
      }
    .icon-new{
      background: url(../images/header/add.svg) no-repeat;
      background-size: 100% auto;
      width: 22px;
      height: 25px;
    }
      li.active .icon-new{
        background: url(../images/header/add-active.png) no-repeat;
        background-size: 100% auto;
      }
      .subicon{
        display: inline-block;
        width: 26px;
        height: 26px;
      }

  .navwrap.active > ul > li.active .navsubdetail{
    display: block;
  }

  .navsubdetail{
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 275px;
    background: #fff;
    height: 100%;
    padding: 65px 0 0 30px;
    overflow-y: auto;
    box-shadow: 6px 0 25px 0 rgba(0,0,0,0.40);
  }


.navwrap.active-secondary .navsubdetail{
  display: block;
}


    .navclose{
      position: absolute;
      right: 10px;
      top: 10px;
      display: inline-block;
      background: url(../images/icons/cancel-icon.png) center center no-repeat;
      background-size: 12px auto;
      width: 30px;
      height: 30px;
    }

    .nav-config{background: url(../images/header/config.png) no-repeat; background-size: 100% auto;}
    .navsubdetail li a:hover .nav-config,
    .navsubdetail li.active a .nav-config{background: url(../images/header/config-active.png) no-repeat; background-size: 100% auto;}

    .nav-user{background: url(../images/header/user.png) no-repeat; background-size: 100% auto;}
    .navsubdetail li a:hover .nav-user,
    .navsubdetail li.active a .nav-user{background: url(../images/header/user-active.png) no-repeat; background-size: 100% auto;}

    .nav-role{background: url(../images/header/role.png) no-repeat; background-size: 100% auto;}
    .navsubdetail li a:hover .nav-role,
    .navsubdetail li.active a .nav-role{background: url(../images/header/role-active.png) no-repeat; background-size: 100% auto;}

    .nav-manager{background: url(../images/header/manage.svg) no-repeat; background-size: 100% auto;}
    .navsubdetail li a:hover .nav-manager,
    .navsubdetail li.active a .nav-manager{background: url(../images/header/manage-active.png) no-repeat; background-size: 100% auto;}

    .nav-dashbaord{background: url(../images/header/dashboard.png) no-repeat; background-size: 100% auto;}
    .navsubdetail li a:hover .nav-dashbaord,
    .navsubdetail li.active a .nav-dashbaord{background: url(../images/header/dashboard-active.png) no-repeat; background-size: 100% auto;}

    .nav-time{background: url(../images/header/time.png) no-repeat; background-size: 100% auto;}
    .navsubdetail li a:hover .nav-time,
    .navsubdetail li.active a .nav-time{background: url(../images/header/time-active.png) no-repeat; background-size: 100% auto;}

    .nav-inventory{background: url(../images/header/inventory.png) no-repeat; background-size: 100% auto;}
    .navsubdetail li a:hover .nav-inventory,
    .navsubdetail li.active a .nav-inventory{background: url(../images/header/inventory-active.png) no-repeat; background-size: 100% auto;}

    .nav-report{background: url(../images/header/report.png) no-repeat; background-size: 100% auto;}
    .navsubdetail li a:hover .nav-report,
    .navsubdetail li.active a .nav-report{background: url(../images/header/report-active.png) no-repeat; background-size: 100% auto;}

    .nav-order{background: url(../images/header/order.png) no-repeat; background-size: 100% auto;}
    .navsubdetail li a:hover .nav-order,
    .navsubdetail li.active a .nav-order{background: url(../images/header/order-active.png) no-repeat; background-size: 100% auto;}

    .nav-setting{background: url(../images/header/setting.png) no-repeat; background-size: 100% auto;}
    .navsubdetail li a:hover .nav-setting,
    .navsubdetail li.active a .nav-setting{background: url(../images/header/setting-active.png) no-repeat; background-size: 100% auto;}

    .navsubdetail h3{
      color: #354F79;
      letter-spacing: 0.4px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 25px;
    }
    .navsubdetail ul,
    .navsubdetail li{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .navsubdetail li{
      padding: 0 0 18px;
    }
    .navsubdetail li a{
      display: block;
      font-size: 14px;
      line-height: 28px;
      padding: 0 0 0 34px;
      color: #4E4F50;
      letter-spacing: 0.2px;
      position: relative;
    }
    .navsubdetail li a:hover{
      color: #2A65B1;
      font-weight: bold;
    }
    .subicon{
      position: absolute;
      left: 0;
      top: 0;
    }
/* header end */
.main-article{
  border-radius: 5px 5px 0 0;
  background: #fff;
  box-shadow: 0 0 7px rgba(84,99,122,0.32);
}
.article-stip{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 8px 15px 12px;
}
  .article-left{
    width: 380px;
  }
    .art-title{
      color: #7F8690;
      font-size: 11px;
      letter-spacing: 0.1px;
      margin: 0 0 5px;
    }
    .keydrop-wrap{
      display: flex;
      flex-wrap: wrap;
    }
    .keydrop-wrap .dropdown{
      width: 300px;
    }
    .keydrop-wrap .dropdown .edit-icon{
      position: absolute;
      right: 30px;
      top: 8px;
      z-index: 1;
    }
    .keydrop-wrap .dropdown .dropdown-toggle{
      font-family: 'robotomedium';
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      color: #2A65B1;
      font-size: 18px;
      letter-spacing: 0.2px;
      line-height: 1.2;
      width: 100%;
      border: 1px solid #C8D1DF;
      padding: 0 50px 0 8px;
      height: 30px;
      line-height: 26px;
      position: relative;
    }
    .keydrop-wrap .dropdown .dropdown-toggle::after{
      position: absolute;
      right: 8px;
      top: 40%;
      color: #7F8690;
      font-size: 16px;
    }
    .keydrop-wrap .dropdown .dropdown-menu{
      left: 0 !important;
      top: 100% !important;
      transform: none !important;
      padding: 0;
      width: 100%;
      border: none;
      margin: 0;
      box-shadow:0 3px 11px rgba(57,69,88,0.22);
    }
    .keydrop-wrap .dropdown  .dropdown-menu a{
      color: #354F79;
      font-size: 14px;
      padding: 10px 15px;
      line-height: 1.3;
    }
    .keydrop-wrap .form-control{
        display: none;
        color: #354F79;
        letter-spacing: 0.2px;
        font-size: 18px;
        font-family: 'robotomedium';
        border: none;
        line-height: 1;
        padding: 1px 0 3px;
        width: auto;
        height: auto;
        max-width: calc(100% - 50px);
        border-radius: 0;
        box-shadow: none;
      }
      .keydrop-wrap ::-webkit-input-placeholder {color: #354F79;}
      .keydrop-wrap :-ms-input-placeholder {color: #354F79;}
      .keydrop-wrap ::placeholder {color: #354F79;}

    .keydrop-wrap .dropdown-editing .edit-icon{
      background: url(../images/icons/edit-active.png) no-repeat;
      width: 26px;
      height: 26px;
      top: 2px;
      right: 22px;
    }
    .keydrop-wrap .dropdown-editing .dropdown-toggle::after{
      display: none;
    }
      .keydrop-wrap .dropdown-editing .form-control{
        display: inline-block;
      }
      .keydrop-wrap .dropdown-editing .keytext{
        display: none;
      }
      .keydrop-wrap .dropdown-editing .dropdown-menu{
        display: none;
      }
      .keydrop-wrap .dropdown .dropdown-menu.dropdownfavorite a{
        position: relative;
        padding: 12px 70px 12px 25px;
      }
      .keydrop-wrap .dropdown .dropdown-menu.dropdownfavorite a .timestate{
        color: #B6B6B6;
        font-size: 11px;
        position: absolute;
        right: 10px;
        top: 14px;
      }
      .keydrop-wrap .dropdown .dropdown-menu.dropdownfavorite a .fa{
        position: absolute;
        left: 7px;
        top: 14px;
        color: #E6E6E6;
      }
      .keydrop-wrap .dropdown .dropdown-menu.dropdownfavorite a .fa-star{
        color: #FC9944;
      }
    .keyadd-wrap{
      width: 65px;
      margin-left: auto;
    }
    .keyadd-wrap .keyadd{
      display: inline-block;
      background: url(../images/icons/plus-rounded.svg) no-repeat;
      width: 31px;
      height: 31px;
    }
    .keyadd-wrap .keyadd:after{
      display: none;
    }
  .article-middle{
    width: 300px;
    padding-top: 10px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
    .btn-icon{
      display: inline-block;
      height: 30px;
      padding: 0 18px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      color: #354F79;
      letter-spacing: 0.2px;
      font-size: 14px;
      border: 1px solid #D3DEEA;
      background-color: #F6FAFF;
      border-radius: 4px;
    }
    .btn-icon > span{
      display: inline-block;
      vertical-align: middle;
    }
    .article-middle .btn-theme-danger{
      margin-left: 15px;
    }
    .btn-theme-danger{
      border: 1px solid #F9D9D9;
      background-color: #FFF8F8;
    }
    .tooltip-inner{
      background-color: #354f79;
      font-size: 10px;
      font-family: 'robotomedium';
    }
    .bs-tooltip-auto[x-placement^=top] .arrow::before, 
    .bs-tooltip-top .arrow::before{
      border-top-color: #354f79;
    }
      .btn-group .btn-icon{
        border-radius: 0;
      }
      .btn-group .btn-icon:first-child{
        border-radius: 4px 0 0 4px;
        border-right: none;
      }
      .btn-group .btn-icon:last-child{
        border-radius: 0 4px 4px 0;
      }
  .article-right{
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
    .article-right > div{
      margin-left: 15px;
    }
    .btns-wrap{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .sep-right{
      border-right: 1px solid #E3E3E3;
      padding-right: 25px;
    }
    .btns-wrap .btn{
      margin-left: 10px;
    }
.product-detail-wrap{

}



.mw-200{
  min-width: 200px;
}
.icon-arrowleft{
  display: inline-block;
  background: url(../images/icons/arrow-left.png) no-repeat;
  background-size: 100% auto;
  width: 17px;
  height: 7px;
}
.icon-arrowright{
  display: inline-block;
  background: url(../images/icons/arrow-right.png) no-repeat;
  background-size: 100% auto;
  width: 17px;
  height: 7px;
}
.icon-danger{
  display: inline-block;
  background: url(../images/icons/delete.png) no-repeat;
  background-size: 100% auto;
  width: 18px;
  height: 14px;
}
.icon-danger-secondary{
  display: inline-block;
  background: url(../images/icons/delete-secondary.svg) no-repeat;
  background-size: 100% auto;
  width: 12px;
  height: 15px;
}
.icon-download{
  display: inline-block;
  background: url(../images/icons/download.svg) no-repeat;
  background-size: 100% auto;
  width: 14px;
  height: 13px;
}
.icon-print{
  display: inline-block;
  background: url(../images/icons/print-icon.svg) no-repeat;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
}
.edit-icon{
  display: inline-block;
  background: url(../images/icons/edit.svg) no-repeat;
  background-size: 100% auto;
  width: 13px;
  height: 13px;
}
.icon-newkey{
  display: inline-block;
  background: url(../images/icons/key-icon.svg) no-repeat;
  background-size: 100% auto;
  width: 15px;
  height: 17px;
}
.icon-duplicate{
  display: inline-block;
  background: url(../images/icons/duplicate-icon.svg) no-repeat;
  background-size: 100% auto;
  width: 15px;
  height: 17px;
}
.icon-excel{
  display: inline-block;
  background: url(../images/icons/excel-icon.svg) no-repeat;
  background-size: 100% auto;
  width: 15px;
  height: 14px;
}
.icon-pdf{
  display: inline-block;
  background: url(../images/icons/pdf-icon.svg) no-repeat;
  background-size: 100% auto;
  width: 13px;
  height: 14px;
}
.icon-share{
  display: inline-block;
  background: url(../images/icons/arrow-left.png) no-repeat;
  background-size: 100% auto;
  width: 16px;
  height: 9px;
}
.icon-cross{
  display: inline-block;
  background: url(../images/icons/cancel-icon.png) no-repeat;
  background-size: 100% auto;
  width: 10px;
  height: 9px;
}
.icon-plus{
  display: inline-block;
  background: url(../images/icons/plus.svg) no-repeat;
  background-size: 100% auto;
  width: 12px;
  height: 12px;
}
/* Icons end*/

.product-wrap{
  background: #fff;
  padding: 25px 20px 110px;
  min-height: 800px;
  position: relative;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-box-shadow: 0 1px 8px 0 rgba(84,99,122,0.32);
  -webkit-box-shadow: 0 1px 8px 0 rgba(84,99,122,0.32);
  box-shadow: 0 1px 8px 0 rgba(84,99,122,0.32);
}
  .product-overlay{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.65);
  }
  .dropdownopen .product-overlay{
    display: block;
  }
  .product-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 0 50px;
  }
  .product-nav > ul,
  .product-nav > ul > li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .product-nav > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-nav > ul > li{
    margin: 0 5px;
    position: relative;
  }
    .portlet-placeholder{
      background: red;
      width: 72px;
      height: 72px;
      border: 1px dashed #C8D1DF;
      background-color: #FCFDFF;
      border-radius: 5px;
    }
  .product-nav > ul > li > a{
    font-family: 'helveticabold';
    display: block;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.46px;
    text-align: center;
    color: #354F79;
    height: 74px;
    position: relative;
    z-index: 1;
    background: linear-gradient(180deg, #FFFFFF 0%, #FAFCFF 100%);
    border:1px solid #cdd5e2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
    .product-nav > ul > li.fixed-selectable > a{
      padding-left: 5px;
      padding-right: 5px;
    }
    .product-nav > ul > li.fixed-selectable > a .dragable{
      width: 18px;
    }
  .product-nav > ul > li > a:hover{
    box-shadow: 0 0 0 2px #cdd5e2;
  }
  .product-nav > ul > li > a .product-name{
    display: block;
    width: 100%;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product-nav > ul > li > a .info-mobile{
    display: none;
  }

  .dropdownopen .product-nav > ul > li > a{
    color: #b8c1d0;
  }
  .product-nav > ul > li.add-product-active > a{
    color: #354F79;

    border: 2px solid #4392FF;

    border-bottom: #fff;
    background: #fff !important;
    height: 78px;
    height: 90px;
    z-index: 2;
    position: relative;
    box-shadow: 0 0 8px 1px rgba(36,57,79,0.43);
    border-radius: 5px 5px 0 0;
  }

  .product-nav > ul > li.add-product-active > a:after{
    content: " ";
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -8px;
    width: calc(100% + 8px);
    height: 8px;
  }
  .product-nav > ul > li.add-product-active > a.add-product:after{
    left: auto;
    right: 0;
  }

    .dragable{
      display: block;
      background: url(../images/icons/dragable.svg) no-repeat;
      width: 50px;
      height: 7px;
      margin: 0 auto 5px;
      cursor: move;
    }
    .dragable-secondary{
      display: block;
      background: url(../images/icons/dragable-secondary.png) no-repeat;
      background-size: 100% auto;
      width: 28px;
      height: 10px;
      cursor: move;
    }
    .product-nav > ul > li.add-product-wrap .add-product{
      font-size: 16px;
      font-weight: normal;
      width: 50px;
      line-height: 50px;
      color: #2A65B1;
      border: 2px dashed #A6C5E7;
      border-radius: 6px;
      background-color: #F6FAFF;
      box-shadow: none;
    }
  .product-nav > ul > li.add-product-active > a.add-product{
      border: 2px solid #4392FF;
      border-bottom: #fff;
      background: #fff !important;
      height: 90px;
      z-index: 2;
      position: relative;
      box-shadow: 0 -2px 4px 1px rgba(36,57,79,0.33);
      border-radius: 5px 5px 0 0;
  }
  .product-nav > ul > .add-product-active > .addprodcut-dropdown{
    display: block;
  }
  .addprodcut-dropdown{
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    top: calc(100% - 2px);
    width: 310px;
    background: #fff;
    padding: 10px 0 15px;
    border: 2px solid #4392FF;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0 2px 8px 1px rgba(36,57,79,0.43);
  }
  .dropdown-lg{
    width: 470px;
  }
  .rigghtside{
    right: auto;
    left: 0;
    border-radius: 0 5px 5px 5px;
  }
    .product-nav > ul > li.rightli.add-product-active > a:after{
      left: auto;
      right: 0;
    }
  .gaplr{
    padding-left: 15px;
    padding-right: 15px;
  }
  .add-product-active h6{
    font-size: 14px;
    color: #354F79;
    letter-spacing: 0.27px;
    margin: 0 0 15px;
  }
  .add-product-active h6 a{
    color: #354F79;
    text-decoration: underline;
  }
  .non-selectable{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #E7F1FF;
    border-bottom: 1px solid #E7F1FF;
    margin: 0 0 12px;
  }
  .non-selectable h4{
    font-size: 14px;
    color: #354F79;
    letter-spacing: 0.27px;
    margin: 0 5px 5px 15px;
  }
  .non-selectable ul,
  .non-selectable li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .non-selectable ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
  }
  .non-selectable ul a{
    display: block;
    color: #354F79;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.34px;
    line-height: 21px;
    width: 34px;
    height: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    border-left: 1px solid #E7F1FF;
  }
  .non-selectable ul li:first-child a{
    padding-top: 0;
  }
.edit-items{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15px 8px;
}
  .edit-items .field-wrap{
    width: calc(100% - 205px);
  }
  .edit-items .edit-rights{
    width: 195px;
    margin-left: auto;
  }
  .edit-items h4{
    font-family: 'robotobold';
    font-size: 16px;
    color: #354F79;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin: 4px 0;
  }
  .edit-items .form-control{
    height: 26px;
    border: 1px solid #C8D1DF;
    font-size: 12px;
    padding: 11px 10px 14px;
    letter-spacing: 0.19px;
    border-radius: 3px;
  }
  .edit-items .form-control::-webkit-input-placeholder {color: #C8D1DF;}
  .edit-items .form-control:-ms-input-placeholder {color: #C8D1DF;}
  .edit-items .form-control::placeholder {color: #C8D1DF;}
  .edit-rights{
    margin-left: auto;
  }
  .edit-rights ul,
  .edit-rights li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .edit-rights ul{
    display: flex;
    flex-wrap: wrap;
  }
  .edit-rights ul li{
    margin: 4px 0 4px 8px;
  }
  .edit-rights .btn-sm{
    padding-left: 16px;
    padding-right: 16px;
  }
  .edit-rights .btn-primary{
    padding-left: 13px;
    padding-right: 13px;
  }
  .edit-rights .btn-icon{
    padding: 0;
    width: 30px;
    text-align: center;
  }
  .product-detail-wrap .table{
    margin: 0;
  }
  .product-detail-wrap .table th{
    color: #6A82A7;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.23px;
    line-height: 14px;
    padding: 10px 15px;
    background-color: #E7F1FF;
    border: none;
    text-transform: uppercase;
  }
  .product-detail-wrap .table th:nth-child(1){
    width: 30px;
  }
    .product-detail-wrap .table th:nth-child(2){
      width: 50px;
    }
    .product-detail-wrap .table th:nth-child(2),
    .product-detail-wrap .table td:nth-child(2){
      text-align: center;
    }

    /*editable mode*/
    .product-detail-wrap .table.table-reverse th:nth-child(2),
    .product-detail-wrap .table.table-reverse td:nth-child(2){
      width: 100%;
      text-align: left;
    }
    .product-detail-wrap .table.table-reverse th:nth-child(3),
    .product-detail-wrap .table.table-reverse td:nth-child(3){
      width: 50px;
      text-align: center;
    }
    /*editable mode*/

/* Basit Css*/
.product-detail-wrap .table .row{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
}
.product-detail-wrap .table .row.head{
  align-items: inherit;
}
  .product-detail-wrap .table .row > div{
    flex: none;
    max-width: inherit;
    color: #6A82A7;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.23px;
    line-height: 14px;
    padding: 10px 12px;
    border: none;
    text-transform: uppercase;
  }
    .product-detail-wrap .table .row.head > div{
      background-color: #E7F1FF;
    }
    .product-detail-wrap .table .row > div:nth-child(1){
      width: 50px;
    }
    .product-detail-wrap .row > div:nth-child(2){
      width: calc(100% - 170px);
    }
    .product-detail-wrap .row > div:nth-child(3){
      width: 80px;
    }
    .product-detail-wrap .row > div:nth-child(4){
      width: 40px;
    }
  .product-overlay { z-index: 3;}
  .add-product-active { z-index: 4;}
  .table.as-sortable-drag > div.row{ display: flex!important;; }
  #sortable-main-container ul .as-sortable-placeholder {
      border: 1px dashed #C8D1DF;
      background-color: #FCFDFF;
  }
  ul.as-sortable-dragging { width: auto !important;}
  .product-nav > ul > li > a,
  ul.as-sortable-dragging li a,
  ul.as-sortable-drag li a{
      font-family: 'helveticabold';
      display: block;
      padding: 10px;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 0.46px;
      text-align: center;
      color: #354F79;
      height: 74px;
      position: relative;
      z-index: 1;
      background: linear-gradient(180deg, #FFFFFF 0%, #FAFCFF 100%);
      border: 1px solid #cdd5e2;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
  }
  ul.as-sortable-dragging li a .info-mobile,ul.as-sortable-drag li a .info-mobile { display: none;}
  .as-sortable-item {
       border: none;
       background-color: none;
  }
    .as-sortable-dragging{
      opacity: 1 !important;
    }
    .as-sortable-dragging > li > a{
      border: 2px solid #2A65B1 !important;
      box-shadow: 0 1px 10px rgba(0,0,0,0.51) !important;
      z-index: 1;
    }
  /* Basit Css end*/      

  .product-detail-wrap .table th:nth-child(3){
    width: 100%;
  }
  .product-detail-wrap .table th:last-child{
    width: 14px;
  }
  .product-detail-wrap .table td{
    color: #354f79;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.23px;
    line-height: 14px;
    padding: 6px 12px;
    line-height: 1.4;
    border: none;
    vertical-align: middle;
    border-bottom: 1px solid #E7F1FF;
  }
  .product-detail-wrap .form-control{
    height: 26px;
    border: 1px solid #C8D1DF;
    font-size: 12px;
    padding: 11px 10px 14px;
    letter-spacing: 0.19px;
    border-radius: 3px;
  }
  .product-detail-wrap .form-control.w-50px,
  .product-detail-wrap .form-control.w-65px{
    padding: 11px 6px 14px;
    text-align: center;
  }
  .product-detail-wrap textarea.form-control{
    overflow: auto;
    resize: none;
    height: auto;
    padding: 4px 10px 5px;
    line-height: 1.4;
  }
  .product-detail-wrap .form-control::-webkit-input-placeholder {color: #C8D1DF;}
  .product-detail-wrap .form-control:-ms-input-placeholder {color: #C8D1DF;}
  .product-detail-wrap .form-control::placeholder {color: #C8D1DF;}
  .w-50px{
    width: 50px;
  }
  .w-65px{
    width: 65px;
  }

  .input-sizer {
    width: 100%;
    display: inline-grid;
    vertical-align: top;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 0;
  }
    .input-sizer.stacked {
      -webkit-box-align: stretch;
        align-items: stretch;
    }
    .input-sizer.stacked::after,
    .input-sizer.stacked input,
    .input-sizer.stacked textarea {
      grid-area: 2 / 1;
      border: 1px solid #C8D1DF;
      font-size: 12px;
      overflow: auto;
      resize: none;
      height: auto;
      padding: 4px 10px 5px;
      line-height: 1.4;
      border-radius: 3px;
      box-shadow: none;
    }
    .input-sizer.stacked input:focus,
    .input-sizer.stacked textarea:focus{
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
    .input-sizer.stacked textarea::-webkit-input-placeholder {color: #C8D1DF;}
    .input-sizer.stacked textarea:-ms-input-placeholder {color: #C8D1DF;}
    .input-sizer.stacked textarea::placeholder {color: #C8D1DF;}

    .input-sizer::after {
      content: attr(data-value) " ";
      visibility: hidden;
      white-space: pre-wrap;
    }
  .dropline-detail{
    width: 100%;
  }
  .dropline-detail h4 span{
    background-color: #E2EDFF;
    padding: 5px 15px;
  }
  .dropline-detail ul,
  .dropline-detail li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .dropline-detail li{
    font-size: 12px;
    color: #354F79;
    font-weight: bold;
    letter-spacing: 0.23px;
    padding: 0 0 3px;
  }
  .dropline-detail li .art-left{
    display: inline-block;
    min-width: 45px;
  }
  .dropline-detail li i{
    display: inline-block;
    min-width: 15px;
  }
  .dropline-reverse .art-right{
    display: inline-block;
    min-width: 75px;
  }
.keypreviewouter{
  display: none;
}
  .product-nav-mobile-wrap{
    text-align: center;
    margin: 0 0 20px;
  }
    .product-nav-mobile-wrap h3{
      font-family: 'robotomedium';
      color: #6A82A7;
      font-size: 12px;
      margin: 0 0 10px;
    }
    .product-nav-mobile{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .product-nav-mobile ul,
    .product-nav-mobile li{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .product-nav-mobile ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border: 2px solid #C8D1DF;
      padding: 0 10px;
      border-radius: 5px;
    }
    .product-nav-mobile ul li a{
      font-family: 'robotomedium';
      display: inline-block;
      font-size: 16px;
      color: #6A82A7;
      padding: 8px 5px;
    }






.product-dropline{
  position: absolute;
  top: 72px;
}
.dropline-detail h4{
  color: #354F79;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 15px;
  margin: 0 0 10px;
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  border-bottom: 2px solid #e4e4e4;
  border-right: 2px solid #e4e4e4;
}
.dropline-1{
  left: -510px;
  width: 550px;
}
.dropline-2{
  left: -590px;
  width: 630px;
}
  .dropline-2 h4{
    padding-top: 200px;
  }
.dropline-3{
  left: -670px;
  width: 705px;
}
  .dropline-3 h4{
    padding-top: 360px;
  }


.dropline-reverse{
  left: auto;
  text-align: right;
}
  .dropline-reverse h4{
    border-right: none;
    border-left: 2px solid #e4e4e4;
    justify-content: flex-end;
  }
.dropline-1b{
  right: -560px;
  width: 610px;
} 
.dropline-2b{
  right: -670px;
  width: 705px;
} 
  .dropline-2b h4{
    padding-top: 200px;
  }
.dropline-3b{
  right: -750px;
  width: 785px;
} 
  .dropline-3b h4{
    padding-top: 360px;
  }
.modal-content{
    box-shadow: 0 8px 28px 0 #394558;
}
  .modal-header{
    border: none;
    padding: 15px;
  }
  .modal-header .modal-title{
    font-size: 24px;
    color: #2A65B1;
    font-family: 'robotobold';
  }
  .modal-header .close{
    display: inline-block;
    background: url(../images/icons/cancel-icon.png) no-repeat;
    background-size: 100% auto;
    width: 15px;
    height: 15px;
    opacity: 1;
    padding: 0;
    font-size: 0;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .modal-body{
    padding: 20px 60px;
  }
  .fz-16{
    font-size: 16px;
  }
  .mh-200{
    min-height: 200px;
  }
  .search-wrap{
    position: relative;
    margin: 0 60px;
  }
  .search-wrap .fa{
    position: absolute;
    left: 14px;
    top: 14px;
    color: #7a8fb0;
  }
  .search-wrap .form-control{
    border: 1px solid #dde3e7;
    background: #f6f7fa;
    padding: 10px 10px 10px 40px;
    height: auto;
  }
  .invite-outer{
    padding-right: 30px;
    margin: 0 0 20px;
    max-height: 200px;
    overflow-y: auto;
  }
    .modal-body ::-webkit-scrollbar {width: 10px;}
    .modal-body ::-webkit-scrollbar-track {background: #f7f8f9; border-radius: 5px;}
    .modal-body ::-webkit-scrollbar-thumb {background: #c8d1df; border-radius: 5px;}
    .modal-body ::-webkit-scrollbar-thumb:hover {background: #555;}
  .invite-inner{
    border-bottom: 1px solid #c8d1df;
    border-radius: 0 0 5px 5px;
  }
  .invite-inner ul,
  .invite-inner li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .invite-inner li{
    position: relative;
    border: 1px solid #c8d1df;
    border-bottom: none;
    border-radius: 5px;
  }
  .userinvite-section{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #828993;
    font-size: 16px;
    padding: 10px 110px 10px 20px;
  }
    .userinvite-img{
      width: 50px;
      border-radius: 50%;
    }
    .userinvite-img img{
      border-radius: 50%;
    }
    .userinvite-desc{
      width: calc(100% - 60px);
      margin-left: auto;
    }
    .userinvite-desc strong{
      color: #37517a;
      font-weight: normal;
      display: block;
    }
    .userinvite-desc span{
      font-size: 14px;
    }
    .userright-info{
      position: absolute;
      right: 15px;
      top: 25%;
      min-width: 88px;
      text-align: center;
    }
    .tagline-desc{
      border: 1px solid #c8d1df;
      display: inline-block;
      color: #3e577f;
      padding: 8px 20px;
      display: inline-block;
      border-radius: 20px;
    }
    .checkmark{
      width: 36px;
      height: 35px;
      line-height: 32px;
      text-align: center;
      border: 1px solid #cad2e0;
      border-radius: 50%;
    }
    .checkmark.active{
      background: #96d774;
      border-color: #96d774;
      color: #fff;
    }
  .invite-email{
  }
    .invite-email label{
      font-family: 'robotomedium';
      display: block;
      color: #2c66b2;
      margin: 0 0 5px;
    }
    .inviteemail-form{
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
    .inviteemail-form .form-control{
      box-shadow: none;
      width: 95%;
      height: 40px;
      line-height: 34px;
      padding: 0 15px;
    }
    .inviteemail-form .btn{
      position: absolute;
      right: 0;
      top: 0;
      height: 40px;
      line-height: 34px;
      width: 125px;
      padding: 0;
      text-align: center;
      color: #fff;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
    }
  .modal-footer{
    background: #f5f9ff;
    padding: 12px 60px;
    border: none;
    display: block;
  }
    .modal-footer label{
      font-family: 'robotomedium';
      display: block;
      font-size: 14px;
      color: #2c66b2;
      margin: 0 0 5px;
    }
    .sharefieldwrap{
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding-right: 135px;
    }
      .sharefieldwrap .form-control{
        width: calc(100% - 95px);
        height: 40px;
        line-height: 34px;
        padding: 0 15px;
        background: #fff;
        color: #354f79;
        border: 1px solid #c4c4c4;
        -moz-border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
      }
      .sharefieldwrap .dropdown-toggle{
        display: inline-block;
        background: #fff;
        width: 95px;
        height: 40px;
        line-height: 35px;
        padding: 0 10px;
        border: 1px solid #c4c4c4;
        display: block;
        border-left: none;
        position: relative;
        -moz-border-radius: 0 4px 4px 0;
        -webkit-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
      }
      .sharefieldwrap .dropdown-toggle:after{
        position: absolute;
        right: 10px;
        top: 42%;
      }
    .btncopy{
      position: absolute;
      right: 0;
      top: 0;
      height: 40px;
      line-height: 34px;
      width: 125px;
      padding: 0;
      text-align: center;
      background: #fff;
      color: #354f79;
      border: 1px solid #d3deea;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
    }
    .inviteemail-form .form-control{
      box-shadow: none;
      width: 95%;
      height: 40px;
      line-height: 33px;
      padding: 0 15px;
    }
.deletemodal-content-outer{
  max-width: 470px;
  margin: 0 auto;
}
.deletemodal-content{
  padding: 30px 0 35px 70px;
  position: relative;
  text-align: center;
  color: #354F79;
  font-size: 17px;
  letter-spacing: 0.3px;
}
.deletemodal-content:before{
  content: " ";
  background: url(../images/icons/delete-lg.png) no-repeat;
  background-size: 100% auto;
  width: 41px;
  height: 47px;
  position: absolute;
  left: 30px;
  top: 35px;
}
  .deletemodal-content h3{
    font-size: 20px;
    color: #FF4A4A;
    letter-spacing: 0.3px;
    font-family: 'robotomedium';
    margin: 0 0 15px;
  }
  .deletemodal-content p{
    margin: 0 0 30px;
  }
  .deletemodal-content .btn{
    height: 40px;
    line-height: 38px;
    border-radius: 4px;
    padding: 0 5px 10px;
    font-size: 13px;
    font-family: 'robotobold';
    font-weight: bold;
    text-transform: uppercase;
  }
  .deletemodal-content .btn-danger{
    min-width: 168px;
    font-size: 16px;
    letter-spacing: 0.2px;
    background: #FF4A4A;
    border-color: #FF4A4A;
  }
  .deletemodal-content .btn-default{
    min-width: 110px;
    color: #516E8D;
  }

.productkey-popup{
  max-width: 340px;
  margin: 0 auto;
  padding: 40px 0;
}
.mw-530{
  max-width: 530px;
}
  .productkey-title{
    font-size: 14px;
    color: #7F8690;
    letter-spacing: 0.1px;
    padding: 0 0 10px;
  }
  .productkey-title h3{
    color: #2A65B1;
    letter-spacing: 0.4px;
    font-weight: normal;
    font-size: 24px;
    margin: 0 0 12px;
  }
  .productkey-title p{
    margin: 0 0 10px;
  }
  .productkey-form label{
    font-size: 12px;
    display: block;
    color: #354F79;
    letter-spacing: 0.1px;
    margin: 0 0 4px;
  }
  .productkey-form .form-control{
    height: 36px;
    line-height: 36px;
    width: 100%;
    padding: 0 9px;
    color: #354F79;
    border: 1px solid #C2CDD4;
    background: #FFFFFF;
    border-radius: 3px;
    margin: 0 0 8px;
  }
  .formgp{
    padding: 0 0 12px;
  }
  .productkey-form .mw-170{
    min-width: 170px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    height: 42px;
    line-height: 42px;
    padding: 0 5px;
    background: #2A65B1;
    border-radius: 20px;
  }
  .lastpara{
    color: #7F8690;
    font-size: 13px;
    letter-spacing: 0.1px;
    padding: 4px 0 0;
  }
  .lastpara a{
    color: #7F8690;
    text-decoration: underline;
  }
  #moreoptions,
  #continue{
    display: none;
  }
.verify-section{
  color: #354F79;
  letter-spacing: 0.1px;
  font-size: 14px;
  max-width: 530px;
  margin: 0 auto;
  padding: 40px 0;
}
  .verify-section h3{
    color: #2A65B1;
    letter-spacing: 0.4px;
    font-weight: normal;
    font-size: 24px;
    margin: 0 0 12px;
  }
  .verify-section ul,
  .verify-section li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .verify-section ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 25px;
  }
  .verify-section li{
    width: calc(16.66% - 10px);
    text-align: center;
    font-size: 31px;
    color: #C8D1DF;
    margin: 0 -1px;
  }
  .verify-section li:nth-child(4){
    width: 50px;
  }
    .verify-section li:nth-child(2) .form-control,
    .verify-section li:nth-child(4) .form-control{
      border-radius: 6px 0 0 6px;
    }
    .verify-section li:nth-child(3) .form-control,
    .verify-section li:nth-child(6) .form-control{
      border-radius: 0 6px 6px 0;
    }
  .verify-section .form-control{
    color: #C8D1DF;
    font-size: 45px;
    letter-spacing: 0.4px;
    border: 1px solid #C2CDD4;
    height: 110px;
    line-height: 110px;
    position: relative;
    border-radius: 0;
    text-align: center;
    box-shadow: none !important;
  }
  .verify-section ::-webkit-input-placeholder {color: #C8D1DF;}
  .verify-section :-ms-input-placeholder {color: #C8D1DF;}
  .verify-section ::placeholder {color: #C8D1DF;}

  .varifykey p{
    font-size: 14px;
  }
  .varifykey p a{
    color: #4392FF;
  }
.for-tablet{
  display: none !important;
}
.for-mobile{
  display: none !important;
}

.page-login{
  background: #fff;
}
.login-outer{
  min-height: 100vh;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
  .login-inner{
    width: 511px;
    margin: 0 auto;
  }
  .login-logo{
    max-width: 91px;
    margin: 0 auto 65px;
  }
  .login-form{
    background: #E1EEFE;
    padding: 75px 70px 80px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
  }
  .login-form label{
    font-size: 12px;
    color: #536278;
    display: block;
    margin: 0 0 6px;
  }
  .login-form .form-control{
    height: 49px;
    outline: 49px;
    padding: 0 13px;
    font-size: 14px;
    color: #363B3F;
    border: none;
    border-radius: 5px;
  }
  .login-field{
    margin: 0 0 18px;
  }
  .password-wrap{
    position: relative;
  }
    .password-wrap .form-control{
      padding-right: 50px;
      font-family:Verdana,sans-serif;
      font-size:19px;
      color: #536278;
    }
    .pass-show{
      position: absolute;
      right: 17px;
      top: 50%;
      margin-top: -10px;
      background: url(../images/icons/eye.svg) no-repeat;
      width: 23px;
      height: 19px;
      display: block;
    }
  .remember-field{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 0 25px;
  }
    .remember-field .remember{
      font-size: 14px;
      color: #1469AF;
      margin:0 0 0 15px;
    }
    .remember-field .switch{
      margin: 0;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 35px;
      height: 18px;
    }
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    .switch .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 0;
      bottom: 0;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.23);
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #7EBD49;
    }
    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    .switch input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    .switch .slider.round {
      border-radius: 34px;
    }
    .switch .slider.round:before {
      border-radius: 50%;
    }

  .login-form .btn-login{
    height: 50px;
    line-height: 47px;
    padding: 0 15px;
    font-family: 'robotobold';
    font-weight: bold;
    text-transform: uppercase;
    background: #516E8D;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    margin: 0 0 24px;
  }
  .login-forget a{
    display: block;
    height: 50px;
    line-height: 47px;
    padding: 0 15px;
    font-size: 13px;
    color: #515F73;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #A7C3D9;
  }
  .login-forget a span{
    text-decoration: underline;
  }
  .login-bot{
    text-align: center;
    font-size: 13px;
    color: #7F7F7F;
    padding: 60px 0 0;
  }
.activity-bar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 37px 22px;
}
  .activity-title-left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .activity-title-left h3{
    font-family: 'robotomedium';
    font-size: 20px;
    color: #2A65B1;
    letter-spacing: 0.2px;
    margin: 0;
  }
  .back-activity{
    border-left: 1px solid #D3DEEA;
    padding-left: 33px;
    margin-left: 24px;
  }
  .back-activity a{
    color: #354F79;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    background: url(../images/arrow-left.png) left center no-repeat;
    padding-left: 25px;
  }
  .activity-rightitem{
    margin-left: auto;
  }
.log-wrap{
  background: #fff;
  padding: 25px 55px 160px;
  position: relative;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-box-shadow: 0 1px 8px 0 rgba(84,99,122,0.32);
  -webkit-box-shadow: 0 1px 8px 0 rgba(84,99,122,0.32);
  box-shadow: 0 1px 8px 0 rgba(84,99,122,0.32);
}
  .log-inner{
    position: relative;
    padding: 0 0 0 15px;
  }
  .log-inner:before{
    content: " ";
    background: #C8D1DF;
    position: absolute;
    left: 0;
    top: 30px;
    width: 2px;
    height: calc(100% - 30px);
  }
  .log-seciton{
    background: #F0F6FF;
    padding: 15px;
    position: relative;
    margin: 0 0 33px;
    border-radius: 5px;
  }
    .log-seciton:before{
      content: " ";
      background: #354F79;
      position: absolute;
      left: -21px;
      top: 25px;
      width: 14px;
      height: 14px;
      border: 2px solid #fff;
      border-radius: 50%;
    }
  .has-photo{
    display: flex;
    flex-wrap: wrap;
  }
    .log-photo{
      width: 37px;
      border-radius: 50%;
    }
    .log-photo img{
      border-radius: 50%;
      display: block;
    }
    .has-photo .log-detail{
      width: calc(100% - 47px);
      margin-left: auto;
    }
    .log-detail{
      font-size: 14px;
      color: #354F79;
    }
    .log-detail p{
      margin: 0 0 8px;
    }
    .log-detail p a{
      text-decoration: underline;
    }
    .log-detail h5{
      font-size: 14px;
      color: #7F8690;
      margin: 0 0 5px;
    }
    .log-detail h4{
      font-weight: normal;
      font-size: 13px;
      color: #7F8690;
      letter-spacing: 0.1px;
      margin: 0 0 5px;
    }
  .view-more-activity{
    padding: 10px 0 10px 15px;
  }
  .view-more-activity a{
    font-size: 14px;
    color: #2A65B1;
    letter-spacing: 0.1px;
    text-decoration: underline;
  }
.account-setting-serap{
  max-width: 300px;
  margin: 0 auto;
  padding: 35px 0 220px;
}
/*footer start*/
#footer{
}



@media(min-width: 992px){
  .modal-lg-theme{
    max-width: 710px;
  }
}

@media (min-width: 991px) {

  .product-nav > ul > li.add-product-active{
    margin-right: 4px;
    margin-left: 4px;
  }

  /*desktop verticle mode only*/
  .product-condesed-wrap .product-nav > ul > li > a{
    font-size: 18px;
    padding: 10px 8px;
  }
      .product-condesed-wrap .dragable{
        margin-bottom: 15px;
        min-width: 35px;
      }
  .product-vertical-wrap{
  }
    .product-vertical-wrap .keypreviewouter{
      display: block;
      padding-bottom: 10px;
      text-align: center;
    }
      .product-vertical-wrap .product-nav-mobile{
        justify-content: center;
      }
      .product-vertical-wrap .product-nav-mobile-wrap h3{
        font-size: 18px;
      }
      .product-vertical-wrap .product-nav-mobile ul li a{
        font-size: 22px;
        padding: 8px 10px;
      }
    .product-vertical-wrap .product-nav{
      display: block;
      padding: 0;
    }
    .product-vertical-wrap .product-nav > ul{
      display: block;
    }
    .product-vertical-wrap .product-nav > ul > li{
      margin: 0 0 20px;
    }
    .product-vertical-wrap .portlet-placeholder{
      height: 65px;
      width: 100%;
    }
    .product-vertical-wrap .product-nav > ul > li.add-product-active{
      position: relative;
      z-index: 10;
    }
    .product-vertical-wrap .product-nav > ul > li > a{
      font-size: 24px;
      height: auto;
      padding: 15px 10px 15px 75px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #C8D1DF;
      border-radius: 2px;
      background: linear-gradient(180deg, #FFFFFF 0%, #FAFCFF 100%);
    }
    .product-vertical-wrap .product-nav > ul > li.add-product-active > a{
      border: 2px solid #4392FF;
      border-bottom: #fff;
      background: #fff !important;
      height: 78px;
      z-index: 2;
      position: relative;
      box-shadow: 0 -4px 4px 1px rgba(36,57,79,0.23);
      box-shadow: 0 0 8px 1px rgba(36,57,79,0.43);
      border-radius: 5px 5px 0 0;
    }
    .product-vertical-wrap .product-nav > ul > li.add-product-active > a:after,
    .product-vertical-wrap .product-nav > ul > li.add-product-wrap.add-product-active > a:after{
      width: 100%;
    }
    .product-vertical-wrap .product-nav > ul > li > a:before{
      position: absolute;
      right: 15px;
      top: 30%;
      font: normal normal normal 24px/1 FontAwesome;
      content: "\f107";
    }
    .product-vertical-wrap .product-nav > ul > li > a .product-name{
      width: 130px;
      text-align: left;
    }
    .product-vertical-wrap .product-nav > ul > li > a .info-mobile{
      display: inline-block;
      font-style: normal;
      font-size: 20px;
      font-family: 'robotoregular';
      font-weight: normal;
      text-align: left;
      width: calc(100% - 135px);
    }
    .product-vertical-wrap .info-mobile .form-control{
      display: none;
    }
    .product-vertical-wrap .product-nav > ul > li > a .dragable{
      position: absolute;
      left: 10px;
      top: 50%;
      min-width: inherit;
      width: 45px;
      height: 12px;
      margin-top: -7px;
    }
    .product-vertical-wrap .product-nav > ul > li.add-product-wrap{
      padding-top: 5px;
    }
    .product-vertical-wrap .product-nav > ul > li.add-product-wrap .add-product{
      justify-content: center;
      width: 100%;
      background: #F6FAFF;
      line-height: inherit;
      padding: 25px;
    }
    .product-vertical-wrap .product-nav > ul > li.add-product-wrap .add-product:before{
      display: none;
    }
    .product-vertical-wrap .product-nav > ul > li.add-product-active > a{
      height: auto;
    }
    .product-vertical-wrap .product-dropline{
      display: none;
    }
    .product-vertical-wrap .addprodcut-dropdown{
      width: 100% !important;
      position: static;
      border-radius: 0 0 5px 5px;
    }
    .product-vertical-wrap .product-detail-wrap .table th,
    .product-vertical-wrap .product-detail-wrap .table td{
      padding: 18px 13px;
      font-size: 16px;
    }
    .product-vertical-wrap .dropline-detail h4{
      display: none;
    }
    .product-vertical-wrap .product-detail-wrap .form-control{
      height: 46px;
      font-size: 14px;
    }
    .product-vertical-wrap .input-sizer.stacked::after, 
    .product-vertical-wrap .input-sizer.stacked input, 
    .product-vertical-wrap .input-sizer.stacked textarea{
      padding: 14px 10px 12px;
      font-size: 14px;
    }
    .product-vertical-wrap .add-product-active h6,
    .product-vertical-wrap .non-selectable h4{
      font-size: 18px;
    }
    .product-vertical-wrap .non-selectable ul a{
      font-size: 24px;
      line-height: 31px;
      width: 44px;
      height: 50px;
      line-height: 50px;
    }
}
/*Media for desktop verticle mode only enmd*/




@media (max-width: 1800px) {
  /*#container-fluid{
    max-width: 1500px;
  }*/
}
@media (max-width: 1400px) {
}
@media (max-width: 1279px) {
  .nav-primary > ul > li{
    margin-right: 15px;
  }
  .article-middle{
    width: 50%;
    justify-content: flex-end;
  }
  .article-right{
    width: 100%;
    padding: 15px 0 0;
    justify-content: flex-end;
  }
  .deletemodal-content:before{
    left: 10px;
  }
}
@media (max-width: 991px) {
  #container-fluid{
    padding-left: 20px;
    padding-right: 20px;
  }
  .article-left{
    width: 310px;
  }
  .keydrop-wrap .dropdown{
    width: 230px;
  }
  .keydrop-wrap .dropdown .dropdown-toggle{
    padding-right: 35px;
  }
  .keydrop-wrap .dropdown .edit-icon{
    right: 28px;
  }
  .menu-contain{
    padding: 15px 15px 0 8px;
  }
  .tagline{
    padding-left: 15px;
    margin-left: 15px;
  }

  .product-overlay{
    display: none !important;
  }
  .product-wrap{
    padding: 25px 15px 110px;
    min-height: 700px;
  }
  .keypreviewouter{
    display: block;
  }
  .product-nav{
    display: block;
    padding: 0;
  }
    .product-nav > ul{
      display: block;
    }
    .product-nav > ul > li{
      margin: 0 0 10px;
    }
    .product-nav > ul > li.add-product-active{
      position: relative;
      z-index: 10;
    }
      .product-nav > ul > li.add-product-active > a:after,
      .product-nav > ul > li.add-product-wrap.add-product-active > a:after{
        width: 100%;
      }
    .product-nav > ul > li > a{
      font-size: 16px;
      height: auto;
      padding: 10px 10px 10px 68px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #C8D1DF;
      border-radius: 2px;
      background: linear-gradient(180deg, #FFFFFF 0%, #FAFCFF 100%);

    -webkit-touch-callout: none;
    -webkit-user-select: none;   
    }
    .product-nav > ul > li > a:before{
      position: absolute;
      right: 15px;
      top: 30%;
      font: normal normal normal 18px/1 FontAwesome;
      content: "\f107";
    }
    .product-nav > ul > li > a .product-name{
      width: 130px;
      text-align: left;
    }
    .product-nav > ul > li > a .info-mobile{
      display: inline-block;
      font-style: normal;
      font-size: 14px;
      font-family: 'robotoregular';
      font-weight: normal;
      text-align: left;
      width: calc(100% - 135px);
    }
    .info-mobile .form-control{
      display: none;
    }
    .product-nav > ul > li > a .dragable{
      position: absolute;
      left: 10px;
      top: 0;
      min-width: inherit;
      width: 45px;
      height: 100%;
      background-position: center 45%;
      margin: 0;
    }
    .product-nav > ul > li.add-product-wrap{
      padding-top: 5px;
    }
    .product-nav > ul > li.add-product-wrap .add-product{
      justify-content: center;
      height: auto;
      width: 100%;
      background: #F6FAFF;
      line-height: inherit;
      padding: 15px;
    }
    .product-nav > ul > li.add-product-active > a.add-product{
      height: auto;
    }
    .product-nav > ul > li.add-product-wrap .add-product:before{
      display: none;
    }
    .product-nav > ul > li.add-product-active > a{
      height: auto;
    }
    .portlet-placeholder{
      width: 100%;
      height: 44px;
    }
    .product-dropline{
      display: none;
    }
    .addprodcut-dropdown{
      width: 100% !important;
      position: static;
      border-radius: 0 0 5px 5px;
    }
    .product-detail-wrap .table th,
    .product-detail-wrap .table td{
      padding: 10px 10px;
    }
    .dropline-detail h4{
      display: none;
    }
    .dragable-secondary{
      height: 14px;
      background-position: center center;
    }
}
@media (max-width: 767px) {
  #container-fluid{
    padding: 0;
  }
  .for-tablet{
    display: block !important;
  }
  .for-mobile{
    display: block !important;
  }
  .for-desktop{
    display: none !important;
  }
  #header{
    padding: 10px 20px;
  }
    .logo-wrap{
      padding: 7px 0 0;
    }
    .tagline{
      display: none;
    }
    .header-right{
      padding: 0;
    }
    .user-info{
      display: none;
    }
    .menu-contain{
      padding: 9px 15px 0  0;
    }
    .navicon{
      left: 20px;
      top: 19px;
    }
    .navsubdetail{
      width: 230px;
      padding-left: 20px;s
    }
    .menu-notification{
      width: 250px;
    }
    .user-wrap .menu-notification{
      width: 100%;
    }
    .links-dropdown h3{
      font-size: 13px;
      padding: 20px 10px;
    }
    .links-dropdown li a{
      padding-left: 10px;
      padding-right: 5px;
    }
  .main-article{
  }
    .article-stip{

    }
    .article-left{
      width: 100%;
      margin: 0 0 20px;
    }
    .keydrop-wrap .dropdown{
      width: calc(100% - 41px);
    }
    .keydrop-wrap .dropdown-shadow:before{
      left: auto;
      right: 14px;
    }
    .keyadd-wrap{
      width: 31px;
    }
    .article-middle{
      width: 100%;
      display: none;
    }
    .article-right{
      display: none;
      width: 100%;
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }
    .sep-right{
      padding-right: 0;
      margin-right: 0;
      border-right: none;
    }
    .article-right .btn-icon{
      padding: 0 10px;
    }
    .article-right > div{
      margin: 0 3px 10px;
    }
    .btns-wrap .btn{
      padding: 0 10px;
    }
    .article-for-mobile ul,
    .article-for-mobile li{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .article-for-mobile ul{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
    }
    .article-for-mobile li{
      padding: 0 3px;
    }
    .article-for-mobile .btn-icon{
      padding: 0 10px;
    }
    .article-for-mobile .btn{
      padding: 0 12px;
    }
  .product-nav > ul > li > a .product-name{
    width: 70px;
  }
  .product-nav > ul > li > a .info-mobile{
    width: calc(100% - 75px);
  }
  .product-name .form-control{
    display: none;
  }
    .add-product-active .info-mobile .normal-view,
    .add-product-active .product-name .normal-view{
      display: none;
    }
    .add-product-active .info-mobile .form-control,
    .add-product-active .product-name .form-control{
      display: block;
      width: 90%;
      height: 26px;
      border: 1px solid #C8D1DF;
      font-size: 12px;
      padding: 11px 10px 14px;
      letter-spacing: 0.19px;
      border-radius: 3px;
    }
    .add-product-active .info-mobile .form-control::-webkit-input-placeholder {color: #C8D1DF;}
    .add-product-active .info-mobile .form-control:-ms-input-placeholder {color: #C8D1DF;}
    .add-product-active .info-mobile .form-control::placeholder {color: #C8D1DF;}
  .edit-items{
    display: block;
  }
  .edit-items .field-wrap{
    width: 100%;
    padding: 0 0 5px;
  }
  .edit-items .field-wrap .form-control{
    width: 100%;
  }
  .edit-items .edit-rights{
    width: 100%;
  }
  .edit-items h4{
    width: 100%;
  }
  .edit-rights{
    margin: 0;
  }
  .edit-rights ul{
    justify-content: flex-end;
  }
  .modal-body,
  .modal-footer{
    padding-left: 15px;
    padding-right: 15px;
  }
  .search-wrap{
    margin: 0 15px;
  }
    .invite-outer{
      padding-right: 15px;
    }
    .userinvite-desc{
      font-size: 14px;
    }
    .userright-info{
      right: 5px;
      min-width: 80px;
    }
    .userinvite-desc span{
      font-size: 12px;
    }
    .tagline-desc{
      padding: 6px 14px;
      font-size: 13px;
    }
    .sharefieldwrap{
      padding: 0;
    }
    .btncopy{
      position: static;
      margin-top: 5px;
      border-radius: 4px;
    }
    .productkey-popup{
      padding: 0;
    }
    .verify-section{
      padding: 0;
    }
    .verify-section li,
    .verify-section li:nth-child(4){
      margin: -1px;
      width: 33.33%;
    }
    .verify-section li:nth-child(4){
      display: none;
    }
    .verify-section .form-control{
      border-radius: 0 !important;
    }
  .deletemodal-content{
    padding: 70px 0 35px 0;
  }
  .deletemodal-content:before {
      left: 50%;
      top: 0;
      margin-left: -20px;
  }
  .deletemodal-content .btn-danger{
    min-width: 135px;
  }
  .login-inner{
    width: 90%;
  }
    .login-form{
      padding: 45px 25px;
    }
    .login-logo{
      margin-bottom: 35px;
    }
    .login-bot{
      padding-top: 30px;
    }
  .activity-bar{
    padding: 15px;
  }
    .activity-rightitem{
      width: 100%;
      padding: 15px 0 0;
    }
    .log-wrap{
      padding: 25px 25px 40px;
    }
}
@media (max-width: 330px) {
  .article-for-mobile li{
    padding: 0 1px;
  }
}