<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg-theme" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--
            successmodal-content
            warningmodal-content
        -->
        <div class="" ng-class="{
                'deletemodal-content-outer': state.type == 'delete' ,
                'successmodal-content': state.type == 'success' ,
                'warningmodal-content': state.type == 'warning'
                }">
          <div class="deletemodal-content">
            <h3>{{message}}</h3>
            <p ng-if="modalService.state.modal.sub_message">"{{ sub_message }}"</p>
            <a href="#" class="btn btn-danger" ng-class="{
                            'btn-success': modalService.state.modal.type == 'success',
                            'btn-danger': modalService.state.modal.type != 'success',
                        }" ng-click="modalService.deleteIt()">
              <span ng-if="modalService.state.modal.type == 'delete'">Delete</span>
              <span ng-if="modalService.state.modal.type == 'success'" >Ok</span>
              <span ng-if="modalService.state.modal.type == 'warning'">Continue</span>
            </a>
            <a ng-if="state.type != 'success'" href="#" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div><!-- deleteModal -->
