<section class="main-article">
  <div class="log-wrap">
    <div class="row" *ngIf="state.processing">
      <div class="col-sm-12 text-center">
        <span class="fa fa-spin fa-refresh fa-5x"></span>
        <h3>Please Wait!</h3>
        <p>We are Processing</p>
      </div>
    </div>
    <div class="row" *ngIf="!state.processing">
      <div class="col-sm-12">
        <h3>History</h3>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <tr>
              <td>Date</td>
              <td>Patient Name</td>
              <td>Test Result</td>
              <td>Image</td>
              <td>Remarks</td>
            </tr>
            <tr *ngFor="let test of tests">
              <td>{{parseDate.parseDate(test.created_at) }}</td>
              <td>
                <a href="javascript:void(0)" routerLink="/admin/test-history/{{test.patient_id}}/patient">{{test.patient ? test.patient.name : 'N/A'}}</a>
              </td>
              <td>{{test.test_result}}</td>
              <td><img src="{{test.image_path}}" width="100" /></td>
              <td>{{test.remarks}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
