<section class="main-article">
  <div class="log-wrap">
    <div class="row" *ngIf="state.processing">
      <div class="col-sm-12 text-center">
        <span class="fa fa-spin fa-refresh fa-5x"></span>
        <h3>Please Wait!</h3>
        <p>We are Processing</p>
      </div>
    </div>
    <div class="row" *ngIf="!state.processing">
      <div class="col-sm-12">
        <h3>Patients
          <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#patient_form" (click)="resetPatientForm();setTitle('Add New Patient')">Add New <span class="fa fa-plus"></span> </button>
        </h3>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <tr>
              <td>Name</td>
              <td>age</td>
              <td>Phone Number</td>
              <td>Address</td>
              <td>Action</td>
            </tr>
            <tr *ngFor="let patient of patients; let index=index">
              <td>{{patient.name}}</td>
              <td>{{patient.age}}</td>
              <td>{{patient.phone}}</td>
              <td>{{patient.address}}</td>
              <td>
                <ng-container *ngIf="!patient.deleting">
                  <a href="javascript:void(0)" routerLink="/history/tests/{{patient.id}}/patient" ngbTooltip="view Test History"><span class="fa fa-eye fa-2x"></span></a> &nbsp;
                  <a href="javascript:void(0)" routerLink="/patient/medication/{{patient.id}}" ngbTooltip="View Medical history"><span class="fa fa-medkit fa-2x"></span></a> &nbsp;
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#patient_form"  (click)="setTitle('Update '+patient.name); setPatient(patient)" ngbTooltip="Edit"><span class="fa fa-pencil fa-2x"></span></a> &nbsp;
                  <a href="javascript:void(0)" (click)="removePatient(patient, index)" ngbTooltip="Delete"><span class="fa fa-trash fa-2x"></span></a> &nbsp;
                </ng-container>
                <span class="fa fa-spin fa-refresh" *ngIf="patient.deleting"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="patient_form" tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg-theme" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" id="close_model" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="productkey-popup">
          <div class="productkey-title">
            <h3>
              {{state.title}}
            </h3>
          </div>
          <div class="productkey-form" id="moreoptions" style="display: block;">
            <div class="formgp">
              <label>Name:</label>
              <input type="text" [(ngModel)]="patientService.patientForm.name" placeholder="Name" class="form-control">
              <label class="error" *ngIf="state.errors.name">{{ state.errors.name[0] }}</label>
            </div>
            <div class="formgp">
              <label>Age:</label>
              <input type="text" [(ngModel)]="patientService.patientForm.age" placeholder="Age" class="form-control">
              <label class="error" *ngIf="state.errors.age">{{ state.errors.age[0] }}</label>
            </div>
            <div class="formgp">
              <label>Address:</label>
              <input type="text" [(ngModel)]="patientService.patientForm.address" placeholder="Address" class="form-control">
              <label class="error" *ngIf="state.errors.address">{{ state.errors.address[0] }}</label>
            </div>
            <div class="formgp">
              <label>Landline:</label>
              <input type="text" [(ngModel)]="patientService.patientForm.landline" placeholder="Landline" class="form-control">
              <label class="error" *ngIf="state.errors.landline">{{ state.errors.landline[0] }}</label>
            </div>
            <div class="formgp">
              <label>Phone:</label>
              <input type="text" [(ngModel)]="patientService.patientForm.phone" placeholder="Phone" class="form-control">
              <label class="error" *ngIf="state.errors.phone">{{ state.errors.phone[0] }}</label>
            </div>

            <div class="formgp">
              <button class="btn btn-primary mw-170" (click)="savePatients()">Save <span class="fa fa-spin fa-refresh" *ngIf="state.saving"></span></button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div><!-- loginModal -->

