<section class="main-article">
  <div class="log-wrap">
    <div class="row" *ngIf="state.processing">
      <div class="col-sm-12 text-center">
        <span class="fa fa-spin fa-refresh fa-5x"></span>
        <h3>Please Wait!</h3>
        <p>We are Processing</p>
      </div>
    </div>
    <div class="row" *ngIf="!state.processing">
      <div class="col-sm-12">
        <h3>Manage Users</h3>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <tr>
              <td>Name</td>
              <td>Email</td>
              <td>IS Doctor</td>
              <td>Status</td>
              <td>Action</td>
            </tr>
            <tr *ngFor="let user of users; let index=index">
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.is_doctor}}</td>
              <td>{{user.status}}</td>
              <td>
                <ng-container *ngIf="!user.processing">
                  <a *ngIf="user.status == 'Active'" href="javascript:void(0)" (click)="banUser(user, index)" ngbTooltip="Ban User"><span class="fa fa-ban fa-2x"></span></a> &nbsp;
                  <a *ngIf="user.status == 'Inactive'" href="javascript:void(0)" (click)="unbanUser(user, index)" ngbTooltip="UnBan User"><span class="fa fa-plane fa-2x"></span></a> &nbsp;
                </ng-container>
                <span class="fa fa-spin fa-refres" *ngIf="user.processing"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

