<section class="main-article">
  <div class="log-wrap">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>very warm welcome <strong>{{user.name}}</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Update Profile</h3>
        <div class="productkey-form">
          <div class="formgp">
            <label>Your Email</label>
            <input type="text" readonly [(ngModel)]="form.email" (keyup.enter)="updateProfile()" placeholder="username@domain.com" class="form-control">
            <label class="error" *ngIf="state.errors.email">{{state.errors.email[0]}}</label>
          </div>
          <div class="formgp">
            <label>Your Name</label>
            <input type="text" [(ngModel)]="form.name" (keyup.enter)="updateProfile()" placeholder="john Doe" class="form-control">
            <label class="error" *ngIf="state.errors.name">{{state.errors.name[0]}}</label>
          </div>
          <div class="formgp">
            <label>Are You are Doctor?</label>
            <select class="form-control" [(ngModel)]="form.is_doctor">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div class="formgp text-center">
            <button [disabled]="state.isProcessing" class="btn btn-primary mw-170"(click)="updateProfile()">Update&nbsp;&nbsp;<i class="fa fa-refresh fa-spin" *ngIf="state.isProcessing"></i></button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h3>Update Password</h3>
        <div class="productkey-form">
          <div class="formgp">
            <label>Old Password</label>
            <input type="password" [(ngModel)]="passwordForm.oldPassword" (keyup.enter)="updatepassword()" placeholder="Current Password" class="form-control">
            <label class="error" *ngIf="state.errorPasswordForm.oldPassword">{{state.errorPasswordForm.oldPassword[0]}}</label>
          </div>
          <div class="formgp">
            <label>Old Password</label>
            <input type="password" [(ngModel)]="passwordForm.newPassword" (keyup.enter)="updatepassword()" placeholder="New password" class="form-control">
            <label class="error" *ngIf="state.errorPasswordForm.newPassword">{{state.errorPasswordForm.newPassword[0]}}</label>
          </div>
          <div class="formgp">
            <label>Confirm Password</label>
            <input type="password" [(ngModel)]="passwordForm.newPassword_confirmation" (keyup.enter)="updatepassword()" placeholder="password" class="form-control">
            <label class="error" *ngIf="state.errorPasswordForm.newPassword_confirmation">{{state.errorPasswordForm.newPassword_confirmation[0]}}</label>
          </div>
          <div class="formgp text-center">
            <button [disabled]="state.isProcessingPassword" class="btn btn-primary mw-170"(click)="updatepassword()">Update Password&nbsp;&nbsp;<i class="fa fa-refresh fa-spin" *ngIf="state.isProcessingPassword"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
