<section class="main-article">
  <div class="log-wrap">
    <div class="row" *ngIf="state.processing">
      <div class="col-sm-12 text-center">
        <span class="fa fa-spin fa-refresh fa-5x"></span>
        <h3>Please Wait!</h3>
        <p>We are verifying your email address</p>
      </div>
    </div>
    <div class="row" *ngIf="!state.processing">
      <div class="col-sm-12">
        <h3 class="text-center" [ngClass]="{'alert alert-danger': !state.isVerified}">{{state.message}}</h3>
        <p class="text-center" *ngIf="state.isVerified">You are good to access your account now.</p>
      </div>
    </div>
  </div>
</section>
