<section class="main-article">
  <div class="log-wrap">
    <div class="row" *ngIf="state.processing">
      <div class="col-sm-12 text-center">
        <span class="fa fa-spin fa-refresh fa-5x"></span>
        <h3>Please Wait!</h3>
        <p>We are Processing</p>
      </div>
    </div>
    <div class="row" *ngIf="!state.processing">
      <div class="col-sm-12">
        <h3>
          Drugs
          <button class="btn btn-primary pull-right" (click)="resetDrugForm()" data-toggle="modal" data-target="#company_form_modal">Add New</button>
        </h3>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <tr>
              <th>ID</th>
              <th>title</th>
              <th>Company</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let drug of drugs; let index=index">
              <td>{{drug.id}}</td>
              <td>{{drug.title}}</td>
              <td>{{drug.company.title}}</td>
              <td>
                <ng-container *ngIf="!drug.processing">
                  <a href="javascript:void(0)" ngbTooltip="Edit" data-target="#company_form_modal" data-toggle="modal" (click)="setEditForm(drug, index)"><span class="fa fa-3x fa-pencil"></span></a>
                  &nbsp;
                  <a href="javascript:void(0)" ngbTooltip="Delete" (click)="deleteDrug(drug, index)"><span class="fa fa-3x fa-trash"></span></a>
                </ng-container>
                <span class="fa fa-refresh fa-spin" *ngIf="drug.processing"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="company_form_modal" tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg-theme" role="document">
    <div class="modal-content" style="width: 700px;">
      <div class="modal-header justify-content-center">
        <h3>Add/Edit Drug Form</h3>
        <button type="button" id="company_form_close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="formgp" style="padding:0px 20px 12px;">
          <label class="label-control">Drug Title</label>
          <input class="form-control" type="text" [(ngModel)]="drugService.form.title" placeholder="Drug Title"/>
          <label class="error" *ngIf="state.errors.title">{{state.errors.title}}</label>
        </div>
        <div class="formgp" style="padding:0px 20px 12px;">
          <label class="label-control">Description</label>
          <textarea class="form-control" [(ngModel)]="drugService.form.description"></textarea>
          <label class="error" *ngIf="state.errors.description">{{state.errors.description}}</label>
        </div>
        <div class="formgp" style="padding:0px 20px 12px;">
          <label class="label-control">Company</label>
          <select class="form-control" [(ngModel)]="drugService.form.drug_company_id" placeholder="Drug Company ID">
            <option value="">Select</option>
            <option value="{{comp.id}}" *ngFor="let comp of companies">{{comp.title}}</option>
          </select>
          <label class="error" *ngIf="state.errors.drug_company_id">{{state.errors.drug_company_id}}</label>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-block" (click)="saveDrug()"> Save <span class="fa fa-spin fa-refresh" *ngIf="state.savingDrug"></span></button>
      </div>
    </div>
  </div>
</div><!-- loginModal -->
