/* You can add global styles to this file, and also import other style files */
.userdropdown:after{
  display: none !important;
}
#header {
  padding: 10px;
}
.user-info > span { margin: auto;}
.header-right .userdropdown.guest { width: 575px; display: block;}
label.error { color: darkred}
.flash-messages .alert {
  cursor: inherit;
  position: fixed;
  right: 14px;
  top: 100px;
  z-index: 99;
  width: 250px;
}
