<section class="main-article">
  <div class="log-wrap">
    <div class="row" *ngIf="state.processing">
      <div class="col-sm-12 text-center">
        <span class="fa fa-spin fa-refresh fa-5x"></span>
        <h3>Please Wait!</h3>
        <p>We are Processing</p>
      </div>
    </div>
    <div class="row" *ngIf="!state.processing">
      <div class="col-sm-12">
        <h3>Patients</h3>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <tr>
              <td>Name</td>
              <td>age</td>
              <td>Phone Number</td>
              <td>Address</td>
              <td>Action</td>
            </tr>
            <tr *ngFor="let patient of patients; let index=index">
              <td>{{patient.name}}</td>
              <td>{{patient.age}}</td>
              <td>{{patient.phone}}</td>
              <td>{{patient.address}}</td>
              <td>
                <ng-container *ngIf="!patient.deleting">
                  <a href="javascript:void(0)" routerLink="/admin/test-history/{{patient.id}}/patient" ngbTooltip="view Test History"><span class="fa fa-eye fa-2x"></span></a> &nbsp;
                  <a href="javascript:void(0)" routerLink="/admin/medication/{{patient.id}}/patient" ngbTooltip="View Medical history"><span class="fa fa-medkit fa-2x"></span></a> &nbsp;
                </ng-container>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

