<section class="main-article">
  <div class="log-wrap">
    <div class="row">
      <div class="col-sm-8">
        <h2>Covid Detection Service</h2>
        <p>Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum </p>
        <p>Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum </p>
        <p>Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum </p>
      </div>
      <div class="col-sm-4">
        <h2>Create Your Account</h2>
        <div class="">
          <div class="productkey-form">
            <div class="formgp">
              <label>Your Email</label>
              <input type="text" [(ngModel)]="form.email" (keyup.enter)="signup()" placeholder="username@domain.com" class="form-control" id="emailField">
              <label class="error" *ngIf="state.errors.email">{{state.errors.email[0]}}</label>
            </div>
            <div class="formgp">
              <label>Your Name</label>
              <input type="text" [(ngModel)]="form.name" (keyup.enter)="signup()" placeholder="john Doe" class="form-control">
              <label class="error" *ngIf="state.errors.name">{{state.errors.name[0]}}</label>
            </div>
            <div class="formgp">
              <label>Password</label>
              <input type="Password" [(ngModel)]="form.password" (keyup.enter)="signup()" placeholder="password" class="form-control">
              <label class="error" *ngIf="state.errors.password">{{state.errors.password[0]}}</label>
            </div>
            <div class="formgp">
              <label>Confirm Password</label>
              <input type="Password" [(ngModel)]="form.password_confirmation" (keyup.enter)="signup()" placeholder="confirm password" class="form-control">
              <label class="error" *ngIf="state.errors.password_confirmation">{{state.errors.password_confirmation[0]}}</label>
            </div>
            <div class="formgp">
              <label>Are You are Doctor?</label>
              <select class="form-control" [(ngModel)]="form.is_doctor">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
            <div class="formgp">
              <button [disabled]="state.isProcessing" class="btn btn-primary mw-170"(click)="signup()">Register&nbsp;&nbsp;<i class="fa fa-refresh fa-spin" *ngIf="state.isProcessing"></i></button>
            </div>
            <div class="lastpara">
              <p>
                By signing up,  <br>
                I agree to <a href="javascript:void(0)">Terms of Service</a> and <a href="javascript:void(0)">Privacy Policy</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</section><!-- main-article -->
