<section class="main-article">
  <div class="log-wrap" *ngIf="authService.currentUserValue.type == 0">
    <div class="row">
      <div class="col-sm-8 text-center">
        <h3>Welcome To Covid-19 Detection App</h3>
        <div class="row">
          <div class="col-sm-12" *ngIf="!state.processing">
            <h5>Upload your X-Ray Image</h5>
            <p class="mt-5">
              <button class="btn btn-primary btn-default btn-lg" (click)="fileInput.click()"><i class="fa fa-upload"></i>Upload</button>
              <input type="file" (change)="onFileChanged($event)"
                     #fileInput style="z-index: -1; position: absolute" />
            </p>
          </div>
          <div class="col-sm-12 text-center" *ngIf="state.processing">
            <span class="fa fa-spin fa-refresh fa-5x"></span>
            <h3>Please Wait!</h3>
            <p>We are Processing</p>
          </div>
        </div>
        <div class="row text-left" *ngIf="state.resultLoaded">
          <div class="col-sm-12">
            <div class="box">
              <div class="box-header">
                <h3>Test Result is  <strong>{{form.test_result}}</strong></h3>
              </div>
              <div class="box-boxy">
                <div class="formgp">
                  <label>Name</label>
                  <input [readOnly]="authService.currentUserValue.is_doctor=='no'" type="text" [(ngModel)]="form.name" placeholder="John Doe" class="form-control" (keyup)="searchPatient($event)">
                  <ul class="patient-list" *ngIf="state.patients">
                    <li *ngFor="let patient of state.patients">
                      <a href="javascript:void(0)" (click)="selectPatient(patient)">{{patient.name}}</a>
                    </li>
                  </ul>
                  <input type="hidden" name="image_path" [(ngModel)]="form.image_path" />
                  <input type="hidden" name="patient_id" [(ngModel)]="form.patient_id" />
                  <input type="hidden" name="test_result" [(ngModel)]="form.test_result" />
                </div>
                <div class="formgp">
                  <label>Remarks</label>
                  <textarea [(ngModel)]="form.remarks" placeholder="remarks" class="form-control"></textarea>
                </div>
                <div class="formgp text-center">
                  <button class="btn btn-primary btn-block" (click)="saveTestResult()">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
          <h3>Recent</h3>
      </div>
    </div>
  </div>
  <div class="log-wrap" *ngIf="authService.currentUserValue.type == 1">
    <div class="row">
      <div class="col-sm-12 text-center">
        Welcome to Admin Dashboard
      </div>
    </div>
  </div>
</section>
