.patient-list{
  box-shadow: 0 3px 11px rgba(57,69,88,0.22);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
.patient-list, .patient-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.patient-list li a {
  color: #354F79;
  letter-spacing: 0.1px;
  font-size: 14px;
  font-weight: normal;
  display: block;
  padding: 15px 10px 15px 20px;
  line-height: 1.5;
  border-bottom: 1px solid #F0F0F0;
}
